{% extends 'index.html' %}
{% block title %} Your Tourist Guide| Livello due{% endblock title %}
{% block content %}
<div class="container mt-5">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> La Guida Turistica AI</a>
  </div>
</nav>

        <h1  class="text-center mt-3" style="color: Blue">Ciao, {{ name }}!</h1>
        <h2 class="text-center mb-4">Ecco il tuo itinerario per esplorare {{ place }}</h2>
        {% for giorno, attivita in giorni_itinerario.items %}
        <div class="card mb-3">
            <div class="card-header text-center">ITINERARIO: {{ giorno }}</div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for attivita_item in attivita%}
                    <li class="list-group-item">
                        <h5 class="card-title">{{ attivita_item.luogo }}</h5>
                        <p class="card-text">Orario: {{ attivita_item.orario }}</p>
                        <p class="card-text">{{ attivita_item.descrizione }}</p>
                        {% if attivita_item.immagine %}
                    <img src="{{ attivita_item.immagine }}" class="img-fluid" alt="{{ attivita_item.luogo }}" style="max-width: 150px; max-height: 150px;">
                    {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
     <h5 class="text-center mb-4">Visualizza la mappa della città qua</h5>

<div class="d-flex justify-content-center mt-3">
    <div id="map-container" style="display: none; width: 100%; height: 400px;"></div>
    <button id="mostra_mappa" class="btn btn-primary" data-place="{{ place }}">Mostra mappa</button>
    </div>

    <h2 class="text-center mb-4">Rispondi a queste domande e impara a conoscere la città!</h2>

 <form id="risposte_form" method="post" action="{% url 'livello_due' name=name place=place duration=duration %}?punteggio={{ punteggio }}">
    {% csrf_token %}
     {% for domanda in domande %}
    <div class="card mb-3">
        <div class="card-header">Domanda Livello Esperti</div>
        <div class="card-body">
            <p>{{ domanda.domanda }}</p>
            <!-- Input nascosti per memorizzare l'indice della domanda -->
            <input type="hidden" name="risposte[{{ forloop.counter0 }}][indice]" value="{{ forloop.counter0 }}">
            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="risposte[{{ forloop.counter0 }}][risposta]" id="vero_{{ forloop.counter0 }}" value="true">
                <label class="form-check-label" for="vero_{{ forloop.counter0 }}">Vero</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="risposte[{{ forloop.counter0 }}][risposta]" id="falso_{{ forloop.counter0 }}" value="false">
                <label class="form-check-label" for="falso_{{ forloop.counter0 }}">Falso</label>
            </div>
            <!-- Descrizione della domanda (inizialmente nascosta)-->
               <p class="descrizione" style="display: none;">{{ domanda.descrizione }}</p>

        </div>
    </div>
    {% endfor %}
     <div class="d-flex justify-content-center mt-3">
         <button type="submit" class="btn btn-primary">Invia risposte</button>
     </div>
     <!-- Mostra il punteggio se disponibile -->
    {% if punteggio is not None %}
    <div class="text-center mt-3" id="punteggio_container">
        <h2 class="text-center mb-4">Congratulazioni hai risposto a tutte le domande di livello esperto! sei riuscito a rispondere correttamente a {{ punteggio }} domande</h2>
        <p>Il tuo punteggio è: {{ punteggio }}</p>
    </div>
    {% endif %}
 </form>

    <div class="d-flex justify-content-center mt-3">
    <!-- Aggiungi il pulsante per mostrare le descrizioni -->
    <button id="mostra_descrizioni" class="btn btn-primary" >Visualizza le correzioni </button>
         </div>


</div>

{% load static %}


<script src="{% static 'myapp/myscript.js' %}"></script>
<script src="{% static 'myapp/map.js' %}"></script>
<script src="{% static 'myapp/descrizioni.js' %}"></script>
<script src="{% static 'myapp/localstorage.js' %}"></script>






{% endblock content %}

