{% extends 'base.html' %}
{% block title %} Your Tourist Guide| Domande {% endblock title %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Il tuo punteggio:</h1>
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Punteggio Attuale</h5>
            <p id="punteggio" class="card-text fs-1">{{ punteggio }}</p>
            <a href="{% url 'home' %}?punteggio={{ punteggio }}" class="btn btn-primary">Torna alla pagina iniziale</a>

        </div>
    </div>
</div>




{% endblock content %}